/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.timepicker-overlay {
    z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}

footer {
    margin: 1rem;
}

.mat-success {
    color: #fff !important;
    background-color: rgb(0, 0, 0);
    background-color: rgb(7, 209, 245) !important;
}

.mat-success[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-app {
    color: #fff !important;
    background-color: rgb(0, 0, 0);
    background-color: rgb(7, 209, 245) !important;
}